.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body {
  background-color: antiquewhite;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  gap: 30px;
}
.flex-item {
  flex-basis: 250px;
  align-items: center;
  background-color: #DFBC93;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transoform 0.5s;
}
.flex-item:hover {
  box-shadow: 0px 0px 30px #5E3722;
}
.flex-item:active {
  transform: scale(0.95);
  transition: trnasform 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
